h1 {
  color: rgb(20, 75, 52);
}

h1 em {
  color: rgb(122, 211, 122);
}
.overflow {
  overflow: hidden;
}

/* styling my recipe section */
div.my-recipe {
  background-color: rgb(168 218 168 / 32%);
  width: 90%;
  margin: auto;
}
div.my-recipe h2 {
  text-align: center;
  color: green;
}
div.half-width {
  float: left;
  width: 50%;
}
